@media (width >= 1440px){
    .box{
        width: 920px;
        border-radius: 23px;
        background: #FFF;
        box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.50);
        display: flex;
        flex-direction: row;
        column-gap: 38px;
        background-image: url(assets/square\ shadow.svg);
        background-repeat: no-repeat;
    }
    .sections{
        height: 400px;
    }
    .rame{
        display: contents;
    }
    .disn{
        display: block;
        margin-left: -115px;
    }
    .gogo{
        display: none;
    }
    .line{
        width: 350px;
        height: 1px;
        flex-shrink: 0;
    }
    h1{
        color: #1E1F36;
        font-family: 'Kumbh Sans';
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 0;
    }
    #teqsti{
        color: #4B4C5F;
        font-family: 'Kumbh Sans';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 253px;
    }
    .temo{
        margin: 400px 0 0 0;
    }
    .pic{
        display: contents;
        position: absolute;
    }
    /* .yuti{
        display: block;
        position: absolute;
        top: 43%;
        right: 75%;
    } */
}